<%= javascript_include_tag "jquery.ui.widget", "jquery.iframe-transport",
                           "jquery.fileupload", "jquery.cloudinary" %>

<h1 class="fanfic-header">Create new fanfic</h1>

<%= form_for @fanfic, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :genre %>
    <%= f.select :genre, { Genres: @genres }, {}, { class: "custom-select" } %>
  </div>

  <div id="magicsuggest"></div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"%>
  </div>

  <div id="dropzone-area" class="dropzone">

  </div>

  <div class="form-group" style="display: none">
    <%= f.text_field :image, class: "form-control image"%>
  </div>

  <%= f.hidden_field :tags %>

  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<script>
    $(document).ready(function () {
        $(function() {
            if($.fn.cloudinary_fileupload !== undefined) {
                $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
            }

            var ms = $('#magicsuggest').magicSuggest();
            $.ajax({
                url: '/tags',
                method: 'get',
                success: function (response) {
                    ms.setData(response.tags);
                }
            });
            $(ms).on('selectionchange', function (e,m) {
                console.log();
                $('#fanfic_tags').attr('value', m.getSelection().map(function (obj) { return obj.name }).join(' '));
            });
        });

        var myDropzone = new Dropzone(document.getElementById('dropzone-area'), {
            uploadMultiple: false,
            acceptedFiles:'.jpg,.png,.jpeg,.gif',
            parallelUploads: 6,
            url: 'https://api.cloudinary.com/v1_1/dhpelms3i/auto/upload'
        });
        myDropzone.on('sending', function (file, xhr, formData) {
            formData.append('api_key', 665566686966281);
            formData.append('timestamp', Date.now() / 1000 | 0);
            formData.append('upload_preset', 'x9mghqma');
        });
        myDropzone.on('success', function (file, response) {
            $('.image').attr('value', response.public_id);
        });
    });
</script>