<% 5.times do |index| %>
  <div rating="<%= index + 1 %>" chapter="<%= chapter %>" class="rate">
    <i class="fas fa-star"></i>
  </div>
<% end %>
<div><%= t('rating.average') %> <%= rating %></div>
<div><%= t('rating.user') %> <%= user_rating %></div>