<div class="read-chapter jumbotron row">
  <img class="" src="<%= @chapter.image %>" alt="">
  <div class="">
    <h2><%= @chapter.title %></h2>
    <hr>
    <div> <%= markdown(@chapter.text) %></div>
  </div>
</div>

<%= render partial: 'comments/comment_form', locals: { fanfic: @fanfic, comment: @comment } %>
<% if @fanfic.comments.any? %>
  <div class="panel-body" id="messages">
    <%= render partial: 'comments/comment', collection: @fanfic.comments %>
  </div>
<% end %>
