<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<%= javascript_include_tag 'read_chapters_show' %>
<div class="chapter-navigation">
  <% @chapters.each_with_index  do |chapter, index| %>
    <% if chapter.id == params[:id].to_i %>
      <%= link_to "#{index + 1}", read_fanfic_read_chapter_path(chapter.fanfic_id, chapter.id), { class: 'current-chapter'} %>
    <% else %>
      <%= link_to "#{index + 1}", read_fanfic_read_chapter_path(chapter.fanfic_id, chapter.id) %>
    <% end %>
  <% end %>
</div>
<div class="read-chapter jumbotron row">
  <img class="" src="<%= @chapter.image %>" alt="">
  <div class="">
    <h2><%= @chapter.title %></h2>
    <hr>
    <div> <%= markdown(@chapter.text) %></div>
  </div>
</div>
<div class="rating">
  <%= render partial: 'read_chapters/rating', locals: { rating: @rating, user_rating: @user_rating, chapter: params[:id] } %>
</div>
<div class="comments">
  <% if current_user %>
    <%= render partial: 'comments/comment_form', locals: { fanfic: @fanfic, comment: @comment } %>
  <% end %>
  <% if @fanfic.comments.any? %>
    <div class="panel-body" id="comments">
      <%= render partial: 'comments/comment', collection: @fanfic.comments %>
    </div>
  <% end %>
</div>
<script>

</script>