<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<div class="chapter-navigation">
  <% @chapters.each_with_index  do |chapter, index| %>
    <% if chapter.id == params[:id].to_i %>
      <%= link_to "#{index + 1}", read_fanfic_read_chapter_path(chapter.fanfic_id, chapter.id), { class: 'current-chapter'} %>
    <% else %>
      <%= link_to "#{index + 1}", read_fanfic_read_chapter_path(chapter.fanfic_id, chapter.id) %>
    <% end %>
  <% end %>
</div>
<div class="read-chapter jumbotron row">
  <img class="" src="<%= @chapter.image %>" alt="">
  <div class="">
    <h2><%= @chapter.title %></h2>
    <hr>
    <div> <%= markdown(@chapter.text) %></div>
  </div>
</div>
<div class="rating">
  <div data-href= "<%= new_read_fanfic_read_chapter_rating_path(params[:read_fanfic_id], params[:id], rating: 1) %>" class="rate">
    <i class="fas fa-star"></i>
  </div>
  <div data-href= "<%= new_read_fanfic_read_chapter_rating_path(params[:read_fanfic_id], params[:id], rating: 2) %>" class="rate">
    <i class="fas fa-star"></i>
  </div>
  <div data-href= "<%= new_read_fanfic_read_chapter_rating_path(params[:read_fanfic_id], params[:id], rating: 3) %>" class="rate">
    <i class="fas fa-star"></i>
  </div>
  <div data-href= "<%= new_read_fanfic_read_chapter_rating_path(params[:read_fanfic_id], params[:id], rating: 4) %>" class="rate">
    <i class="fas fa-star"></i>
  </div>
  <div data-href= "<%= new_read_fanfic_read_chapter_rating_path(params[:read_fanfic_id], params[:id], rating: 5) %>" class="rate">
    <i class="fas fa-star"></i>
  </div>
  <div>Average rating: <%= @rating %></div>
  <div>User rating: <%= @user_rating %></div>
</div>
<div class="comments">
  <% if current_user %>
    <%= render partial: 'comments/comment_form', locals: { fanfic: @fanfic, comment: @comment } %>
  <% end %>
  <% if @fanfic.comments.any? %>
    <div class="panel-body" id="comments">
      <%= render partial: 'comments/comment', collection: @fanfic.comments %>
    </div>
  <% end %>
</div>
<script>
    $(document).on("click", ".rate", function() {
        window.location = "http://localhost:3000" + $(this).data("href");
    });
    $('.rate').mouseenter(function () {
        $(this).prevAll().find('svg').css({'color': '#1c1c1c'});
        $(this).find('svg').css({'color': '#1c1c1c'})
    });
    $('.rate').mouseleave(function () {
        $(this).prevAll().find('svg').css({'color': '#b4b4b4'});
        $(this).find('svg').css({'color': '#b4b4b4'})
    });
</script>