<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Email</th>
    <th scope="col">Login</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr data-href= "<%= person_path(user.id) %>" id="user">
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.login %></td>
      <td>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to 'Edit', person_path(user.id, admin_role: 1, user_role: 0), method: :patch %>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).on("click", "#user", function() {
        window.location = "http://localhost:3000" + $(this).data("href");
    });
</script>