<%= javascript_include_tag "persons_show" %>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<div class="dropdown local-button">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('user.localization') %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to t('user.russian'), edit_person_localization_path(params[:id], localization: 'ru'), {class: "dropdown-item"} %>
    <%= link_to t('user.english'), edit_person_localization_path(params[:id], localization: 'en'), {class: "dropdown-item"} %>
  </div>
</div>

<div class="table-block">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('table.fanfics.image') %></th>
      <th scope="col"><%= t('table.fanfics.title') %></th>
      <th scope="col"><%= t('table.fanfics.genre') %></th>
      <th scope="col"><%= t('table.fanfics.description') %></th>
      <th scope="col"><%= t('table.fanfics.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @fanfics.each_with_index do |fanfic, index| %>
      <tr style="cursor: pointer;">
        <td data-href= "<%= person_fanfic_chapters_path(params[:id], fanfic.id) %>" scope="row"><%= index.to_i + 1 %></td>
        <td data-href= "<%= person_fanfic_chapters_path(params[:id], fanfic.id) %>" class="table-image"><img src="<%= fanfic.image %>" alt="" style="width: 100%" ></td>
        <td data-href= "<%= person_fanfic_chapters_path(params[:id], fanfic.id) %>"><%= fanfic.title %></td>
        <td data-href= "<%= person_fanfic_chapters_path(params[:id], fanfic.id) %>"><%= fanfic.genre %></td>
        <td data-href= "<%= person_fanfic_chapters_path(params[:id], fanfic.id) %>"><%= fanfic.description %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Edit', edit_person_fanfic_path(params[:id], fanfic.id), { class: 'dropdown-item' } %>
              <%= link_to 'Delete', person_fanfic_path(params[:id], fanfic.id), { method: "delete", class: 'dropdown-item' } %>
              <% if current_user.admin_role %>
                <%= link_to "Create new chapter", new_person_fanfic_chapter_path(params[:id], fanfic.id), { class: "new-chapter dropdown-item" } %>
              <% else %>
                <%= link_to "Create new chapter", new_person_fanfic_chapter_path(current_user.id, fanfic.id), { class: "new-chapter dropdown-item" } %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <% if current_user.admin_role %>
          <td colspan="6" style="text-align: center; font-size: 2em; color: #7f7f7f" data-href= "<%= new_person_fanfic_path(params[:id]) %>">
            <i class="fas fa-plus"></i>
          </td>
        <% else %>
          <td colspan="6" style="text-align: center; font-size: 2em; color: #7f7f7f" data-href= "<%= new_person_fanfic_path(current_user.id) %>">
            <i class="fas fa-plus"></i>
          </td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>
