<% fanfics.each_with_index do |fanfic, index| %>
    <div class="fanfic-display">
      <%= link_to read_fanfic_path(fanfic.id), {class: "row"} do %>
        <%= render partial: 'read_fanfics/rating', locals: { fanfic: fanfic } %>
        <div class="col-md-4">
          <img src="<%= fanfic.image %>" alt="" >
        </div>
        <div class="col-md-8">
          <h2><%= fanfic.title %></h2>
          <p>
            <%= fanfic.description %>
          </p>
        </div>
        <div class="col-md-12">
          <% fanfic.tags.split(' ').each do |tag| %>
            <span class="badge badge-info"><%= tag %></span>
          <% end %>
        </div>
        <hr>
        <div class="col-md-12 fanfic-comments">
          <p><i class="fas fa-comments"></i> <%= fanfic.comments.count %></p>
        </div>
      <% end %>
    </div>
<% end %>
<div class="container pagination justify-content-center" >
  <%= paginate fanfics %>
</div>

