<%= javascript_include_tag "read_fanfics_show" %>
<% @chapters.each do |chapter| %>
  <div data-href= "<%= read_fanfic_read_chapter_path(params[:id], chapter.id) %>" class="chapters jumbotron row">
    <img class="col" src="<%= chapter.image %>" alt="">
    <div class="col">
      <h2><%= chapter.title %></h2>
      <hr>
      <div> <%= markdown(chapter.text) %></div>
    </div>
  </div>
<% end %>
