<%= javascript_include_tag "jquery.ui.widget", "jquery.iframe-transport",
                           "jquery.fileupload", "jquery.cloudinary" %>

<%= cloudinary_js_config %>

<h1 class="fanfic-header">Write your magnum opus</h1>

<%= form_for @chapter, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
  </div>

  <div id="dropzone-area" class="dropzone">

  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: "form-control"%>
  </div>

  <div class="form-group" style="display: none">
    <%= f.text_field :image, class: "form-control image"%>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript" charset="utf-8">
    var markdownSettings;

    markdownSettings = {
        previewParserPath: '/markdown/preview',
        onShiftEnter: {
            keepDefault: false,
            openWith: '\n\n'
        },
        markupSet: [
            {
                name: 'First Level Heading',
                key: '1',
                openWith: '# ',
                placeHolder: 'Your title here...',
            }, {
                name: 'Second Level Heading',
                key: '2',
                openWith: '## ',
                placeHolder: 'Your title here...',
            }, {
                name: 'Heading 3',
                key: '3',
                openWith: '### ',
                placeHolder: 'Your title here...'
            }, {
                name: 'Heading 4',
                key: '4',
                openWith: '#### ',
                placeHolder: 'Your title here...'
            }, {
                name: 'Heading 5',
                key: '5',
                openWith: '##### ',
                placeHolder: 'Your title here...'
            }, {
                name: 'Heading 6',
                key: '6',
                openWith: '###### ',
                placeHolder: 'Your title here...'
            }, {
                separator: '---------------'
            }, {
                name: 'Bold',
                key: 'B',
                openWith: '**',
                closeWith: '**'
            }, {
                name: 'Italic',
                key: 'I',
                openWith: '_',
                closeWith: '_'
            }, {
                separator: '---------------'
            }, {
                name: 'Bulleted List',
                openWith: '- '
            }, {
                name: 'Numeric List',
            }, {
                separator: '---------------'
            }, {
                name: 'Picture',
                key: 'P',
                replaceWith: '![[![Alternative text]!]]([![Url:!:http://]!] "[![Title]!]")'
            }, {
                name: 'Link',
                key: 'L',
                openWith: '[',
                closeWith: ']([![Url:!:http://]!] "[![Title]!]")',
                placeHolder: 'Your text to link here...'
            }, {
                separator: '---------------'
            }, {
                name: 'Quotes',
                openWith: '> '
            }, {
                name: 'Code Block / Code',
                openWith: '(!(\t|!|`)!)',
                closeWith: '(!(`)!)'
            }, {
                separator: '---------------'
            }, {
                name: 'Preview',
                call: 'preview',
                className: "preview"
            }
        ]
    };

    $("textarea").markItUp(markdownSettings);

    $(function() {
        if($.fn.cloudinary_fileupload !== undefined) {
            $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
        }
    });

    $(document).ready(function () {
        var myDropzone = new Dropzone(document.getElementById('dropzone-area'), {
            uploadMultiple: false,
            acceptedFiles:'.jpg,.png,.jpeg,.gif',
            parallelUploads: 6,
            url: 'https://api.cloudinary.com/v1_1/dhpelms3i/auto/upload'
        });
        myDropzone.on('sending', function (file, xhr, formData) {
            formData.append('api_key', 665566686966281);
            formData.append('timestamp', Date.now() / 1000 | 0);
            formData.append('upload_preset', 'x9mghqma');
        });
        myDropzone.on('success', function (file, response) {
            $('.image').attr('value', response.public_id);
        });
    });


    // function handleFileSelect(evt) {
    //     evt.stopPropagation();
    //     evt.preventDefault();
    //
    //     var files = evt.dataTransfer.files; // FileList object.
    //
    //     // files is a FileList of File objects. List some properties.
    //     var output = [];
    //     for (var i = 0, f; f = files[i]; i++) {
    //         console.log(f);
    //     }
    //
    // }
    //
    // function handleDragOver(evt) {
    //     evt.stopPropagation();
    //     evt.preventDefault();
    //     evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    // }
    //
    // // Setup the dnd listeners.
    // var dropZone = document.getElementById('drop-here');
    // dropZone.addEventListener('dragover', handleDragOver, false);
    // dropZone.addEventListener('drop', handleFileSelect, false);
</script>