<%= javascript_include_tag "jquery.ui.widget", "jquery.iframe-transport",
                           "jquery.fileupload", "jquery.cloudinary" %>
<%= cloudinary_js_config %>
<%= javascript_include_tag "chapters_new" %>
<h1 class="fanfic-header">Write your magnum opus</h1>

<%= form_for @chapter, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
  </div>

  <div id="dropzone-area" class="dropzone">

  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: "form-control"%>
  </div>

  <div class="form-group" style="display: none">
    <%= f.text_field :image, class: "form-control image"%>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
