<!DOCTYPE html>
<html>
<head>
  <title>Funfix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    @theme, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "search.js" %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to 'Fanfics', root_path, { class: "navbar-brand"} %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="input-group search">
            <%= form_tag(read_fanfics_path, method: "get") do %>
              <%= text_field_tag(:criteria, nil, {class: "form-control search-input"}) %>
              <%= hidden_field_tag "search", "search" %>
              <span class="input-group-btn">
                <%= submit_tag(t('search.field'), {class: "btn btn-secondary search-button"}) %>
              </span>
            <% end %>
          </div>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item" style="margin: auto">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle current-user" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t('profile.greetings') %>, <%= current_user.login %>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <%= link_to(t('link_text.my_profile'), person_path(current_user.id), :method => :get, :class => "dropdown-item" )%>
                <% if can? :manage_users, User %>
                  <%= link_to(t('link_text.show_users'), persons_path, { class: "dropdown-item" })%>
                <% end %>
                <%= link_to(t('link_text.logout'), destroy_user_session_path, :method => :delete, :class => "dropdown-item")%>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item" style="margin: auto 5% auto 0;">
            <%= link_to t('link_text.register'), new_user_registration_path, :class => "nav-link" %>
            <%= link_to t('link_text.login'), new_user_session_path, :class => "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
